.ajax-index-options {}
body.ajax-index-options {border:0;}
.ajax-index-options .product-view .product-shop { float: none; width: auto; overflow: hidden; margin: 0;}
.ajax-index-options .product-view .product-img-box {float:left; margin:0 0px 0 0;}