/***** Standard *****/

@media only screen and (min-width:1280px) {
    /* View Type: List */
        .col3-layout .products-list .f-left {max-width: 40%;}
        .col3-layout .products-list .f-left img {max-width: 100%; height: auto;}
        .col3-layout .products-list .product-name {margin-left: 0;}
        .col3-layout .products-list .button-container p, .col3-layout .products-list .add-to-links, .col3-layout .products-list .add-to-links li a {line-height: 30px;}
      /*  .col3-layout .products-list .button-container .btn-add-cart, .products-list .add-to-links a {font-size: 12px;}*/
        .col3-layout .products-list .button-container .btn-add-cart span {width: 29px;height: 29px; margin: 0 15px 0 0;background-position:-243px -91px;}
		.col3-layout .products-list .button-container .btn-add-cart {font-size: 12px;}
		.col3-layout .products-list .add-to-links li a {font-size:12px;}
        .col3-layout .products-list .add-to-links li span {display: none;}
        .col3-layout .products-list .add-to-links li:first-child { padding: 0 18px;}
		
}


@media only screen and (max-width:1280px) {
	.col3-layout .page-head{margin: 0 -240px;}
    
    .home-main { width: 630px; }

    .products-list .add-to-links li:first-child { padding: 0 18px;}
    .products-list .add-to-links li span { display: none;}

    /* Product View */
        .product-view .product-shop-info .add-to-links { margin-left: -20px;}
        .product-view .product-shop-info .add-to-links li { float:left; margin: 0 0 8px 20px;}

        /* Form lists */
        /* Customer */

        .form-list .customer-name-middlename-suffix .name-lastname,
        .form-list .customer-name-prefix-middlename-suffix .name-lastname { width:511px; }

        .form-list .customer-name-middlename-suffix .name-lastname input.input-text,
        .form-list .customer-name-prefix-middlename-suffix .name-lastname input.input-text { width:511px; }

        .form-list .customer-name-prefix-middlename-suffix .name-firstname,
        .form-list .customer-name-prefix-middlename-suffix .name-firstname input.input-text { width: 213px; }

        .form-list .customer-name-prefix-middlename-suffix .name-middlename,
        .form-list .customer-name-prefix-middlename-suffix .name-middlename input.input-text { width: 286px;}

        .form-list .customer-name-prefix-suffix .name-firstname,
        .form-list .customer-name-prefix-suffix .name-firstname input.input-text,
        .form-list .customer-name-prefix-suffix .name-lastname,
        .form-list .customer-name-prefix-suffix .name-lastname input.input-text { width:210px; }

        .form-list .customer-name-middlename-suffix .name-firstname,
        .form-list .customer-name-middlename-suffix .name-firstname input.input-text,
        .form-list .customer-name-middlename-suffix .name-middlename,
        .form-list .customer-name-middlename-suffix .name-middlename input.input-text { width:288px; }

        .form-list .customer-name-prefix-middlename .name-firstname,
        .form-list .customer-name-prefix-middlename .name-firstname input.input-text { width: 511px;}

        .form-list .customer-name-prefix-middlename .name-middlename,
        .form-list .customer-name-prefix-middlename .name-middlename input.input-text,
        .form-list .customer-name-prefix-middlename .name-lastname,
        .form-list .customer-name-prefix-middlename .name-lastname input.input-text { width: 288px; }

        .form-list .customer-name-prefix .name-firstname,
        .form-list .customer-name-prefix .name-firstname input.input-text { width:211px; }

        .form-list .customer-name-middlename .name-firstname,
        .form-list .customer-name-middlename .name-firstname input.input-text,
        .form-list .customer-name-middlename .name-middlename,
        .form-list .customer-name-middlename .name-middlename input.input-text { width:288px; }

        .form-list .customer-name-middlename .name-lastname,
        .form-list .customer-name-middlename .name-lastname input.input-text { width:100%; }
     
        .form-list .customer-name-middlename .name-middlename,
        .form-list .customer-name-prefix-middlename .name-firstname,
        .form-list .customer-name-middlename-suffix .name-middlename,
        .form-list .customer-name-prefix-middlename-suffix .name-middlename { margin-right: 0; }

        .customer-account-create .form-list .field,
        .customer-account-create .form-list .field input.input-text { width: 100%; }

        .product-slider-container .jcarousel-skin-tango .jcarousel-clip { margin: 0 -35px 0 -15px;}
		
		.tb_padding_wrap{padding:0 10px;width:35%;}
		.tb_padding_wrap h1{ font-size: 44px !important}


}

@media only screen and (min-width:980px) and (max-width:1280px) {
    .row { width:960px; }
 
    #queldoreiNav, #nav, .search-field #queldoreiNav, .search-field #nav {width: 670px;margin:15px 0 15px 23px;}
    .search-field #queldoreiNav, .search-field #nav { width:340px; }
    .below-logo #queldoreiNav, .below-logo #nav {width:auto;}

    .homepage-banners a .content{margin:18px;}


    .flexslider .slides .content{max-width:760px;}
    .flex-direction-nav {width:960px;}

    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }

    .jcarousel-skin-tango .jcarousel-clip-horizontal, .jcarousel-skin-tango .jcarousel-container-horizontal {width:auto;}
    .home-main .jcarousel-skin-tango .jcarousel-container-horizontal, .home-main .jcarousel-skin-tango .jcarousel-clip-horizontal {width: auto;}

    .product-slider-container {width:auto}
    .home-main .product-slider-container {width: auto;}

    .home-left-col .home-main .product-slider-container {margin:30px 30px 0 0;}
    

    /* Base Columns */

    /* 1 Column Layout */

    /* 2 Columns Layout */
       
    /* 3 Columns Layout */
        .col3-layout .col-main              { margin-right: 238px;}
        .col3-layout .col-main-wrap-right   { margin-left: 238px;}
        .col3-layout .col-main-wrap         { float: right;}
        .col3-layout .col-left,
        .col3-layout .col-right             { width: 238px;}

    /* Home Page Layout */

home-main-left
    .cms-shopper-home-2col-left .product-slider-container .jcarousel-skin-tango ul.products-grid li.item,
    .cms-shopper-home-2col .product-slider-container .jcarousel-skin-tango ul.products-grid li.item,
    .cms-shopper-home-slideshow .product-slider-container .jcarousel-skin-tango ul.products-grid li.item { width: 220px;}
    .product-slider-container .jcarousel-skin-tango ul.products-grid li.item { width: 240px;}
	
	.home-main-left .product-slider-container .jcarousel-skin-tango ul.products-grid li.item,
    .home-main-right .product-slider-container .jcarousel-skin-tango ul.products-grid li.item,
     { width: 220px;}

    /* View Type: Grid */

    .col2-left-layout .category-description {margin-right:30px; }
    
    .col2-left-layout .products-list .ratings, .col2-right-layout .products-list .ratings { float: none; width: auto; clear: both; margin: 0;}
    .col2-left-layout .products-list .button-container .btn-add-cart span,
    .col2-right-layout .products-list .button-container .btn-add-cart span {width: 34px;height: 34px;}
    .col2-left-layout .products-list .button-container .btn-add-cart, .col2-right-layout .products-list .button-container .btn-add-cart,
    .col2-left-layout .products-list .add-to-links a, .col2-right-layout .products-list .add-to-links a { font-size: 12px;}


    .products-grid .hover .price-box { right: 9px; margin: -104px 0 0;}
    .products-grid .hover .price-box .price {font-size: 20px;}
    .products-grid .add-to-links { width: auto; font-size: 11px;}

    /* View Type: List */
        .col3-layout .products-list .f-left { max-width: 30%;}
        .col3-layout .products-list .f-left img { max-width: 100%; height: auto;}
        .col3-layout .products-list .product-shop { padding-left: 20px;}
        .col3-layout .products-list .product-name { margin-left: 0; font-weight:bold;}
        .col3-layout .products-list .button-container p, .col3-layout .products-list .add-to-links, .col3-layout .products-list .add-to-links li a {line-height: 30px;}
        .col3-layout .products-list .button-container .btn-add-cart, .products-list .add-to-links a {font-size: 12px;}
        .col3-layout .products-list .button-container .btn-add-cart span {width: 29px;height: 29px; margin: 0 10px 0 0;background-position:-243px -91px;}
        .col3-layout .products-list .add-to-links li span {display: none;}
        .col3-layout .products-list .add-to-links li:first-child { padding: 0 14px;}

	 /* two_columns 4 products per row */

    .two_columns_3 .add-to-links { height:auto; padding:10px 0;}
    .two_columns_3 .add-to-links li { display:block; margin:0; line-height:140%; }
    .two_columns_3 .add-to-links li { display:block; margin:0; }
    .two_columns_3 .hover .price-box {display:none}
    .two_columns_3 .quick-view { top:15%; left:23%; height:32px; line-height:32px; font-size:12px; }
    .two_columns_3 .product-name {font-size:14px}
    .two_columns_3 .hover .button-container button.button span span em {margin:0 5px 0 0;}	
		
		
    /* two_columns 4 products per row */

    .two_columns_4 .add-to-links { height:auto; padding:10px 0;}
    .two_columns_4 .add-to-links li { display:block; margin:0; line-height:140%; }
    .two_columns_4 .add-to-links li { display:block; margin:0; }
    .two_columns_4 .hover .price-box {display:none}
    .two_columns_4 .quick-view { top:15%; left:13%; height:32px; line-height:32px; font-size:12px; }
    .two_columns_4 .product-name {font-size:14px}
    .two_columns_4 .hover .button-container button.button span span em {margin:0 5px 0 0;}
    /* two_columns 5 products per row */
    .col2-left-layout .two_columns_5 { margin:0 -15px}

    .two_columns_5 .add-to-links {  height:auto; padding:5px 0;}
    .two_columns_5 .add-to-links li { display:block; margin:0; line-height:140%; }
    .two_columns_5 .add-to-links li { display:block; margin:0; }
    .two_columns_4 .hover .price-box {display:none}
    .two_columns_5 .quick-view { top:15%; left:7%; height:32px; line-height:32px; font-size:11px; }
    .two_columns_5 .product-name  a {font-size:12px}
    .two_columns_5 .hover .button-container button.button span span em {margin:0 5px 0 0;}
	.two_columns_5 .hover .button-container button.button span span {font-size: 11px;}
	.two_columns_5 .products-grid li.item {padding: 0 10px}
	.two_columns_5  .products-grid .hover {left:10px;right:10px}

    /* one_columns 5 products per row */

    .one_column_5 .add-to-links { height:auto; padding:10px 0;}
    .one_column_5 .add-to-links li { display:block; margin:0; line-height:140%; }
    .one_column_5 .add-to-links li { display:block; margin:0; }
    .one_column_5 .hover .price-box {display:none}
    .one_column_5 .quick-view { top:18%; left:26%; height:32px; line-height:32px; font-size:12px; }
    .one_column_5 .product-name {font-size:14px}
    .one_column_5 .hover .button-container button.button span span em {margin:0 5px 0 0;}
    /* one_columns 6 products per row */
 
    .one_column_6 .add-to-links {  height:auto; padding:10px 0;}
    .one_column_6 .add-to-links li { display:block; margin:0; line-height:140%; }
    .one_column_6 .add-to-links li { display:block; margin:0; }
    .one_column_6 .hover .price-box {display:none}
    .one_column_6 .quick-view { top:18%; left:26%; height:32px; line-height:32px; font-size:12px; }
    .one_column_6 .product-name {font-size:14px}
    .one_column_6 .hover .button-container button.button span span em {margin:0 5px 0 0;}

	
	.three_columns_3 .add-to-links { height:auto; padding:10px 0;}
    .three_columns_3 .add-to-links li { display:block; margin:0; line-height:140%; }
    .three_columns_3 .add-to-links li { display:block; margin:0; }
    .three_columns_3 .hover .price-box {display:none}
    .three_columns_3 .quick-view { top:15%; left:13%; height:32px; line-height:32px; font-size:12px; }
    .three_columns_3 .product-name {font-size:14px}
    .three_columns_3 .hover .button-container button.button span span em {margin:0 5px 0 0;}
	
	.products-list .add-to-links {padding:0;}

    .top-opc { width: 930px; margin-left: 0px;}
    .top-opc li{ margin-left: 0; margin-right: 12px;}
    .top-opc li:last-child {margin-right: 0;}

    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login{}

    .form-list li.wide .input-box {width:100%}
    .form-list li.wide input.input-text {width:100%}

    .footer-info iframe {width:200px; margin:0 auto;}

    /* Product View */
    .product-view .product-img-box {max-width: 50%;}
    .product-view .product-img-box .product-image img {max-width: 100%; height: auto;}

    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-clip-horizontal {margin-right: 1px;}
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item { width:110px !important;}
}

/***** iPad *****/
@media only screen and (max-width: 979px) {
	.col3-layout .page-head{margin: 0}
    
    .home-main { float: none; width: 100%; }

    .cms-shopper-home-2col-left .home-left,
    .cms-shopper-home-2col .home-right,
    .cms-shopper-home-slideshow .home-right {float: none; width: auto; }

    .cms-shopper-home-2col-left .home-left .block { margin-left: 15px; }
   
    /* Navigation custom block */
    #queldoreiNav li.custom-block div.sub-wrapper {
        width: 100% !important;
        left: inherit !important;
    }
    table.mobile-custom-block {margin: 0 -5px;}
    table.mobile-custom-block h1 {font-size: 18px; word-wrap: break-word;}
    table.mobile-custom-block img { width: 100%; /* its fix for IE, FF - not reseized image in table on devices (?) */}
    
    /* Search input - "disable" text for mobile  */
    #search::-webkit-input-placeholder {  color: transparent;}

    .cart-top-container {margin-right: 0;}
    
    .col1-layout.col-main, .col2-left-layout .col-main, .col2-right-layout .col-main,
    .col-main-left, .col-main-right, .col2-left-layout .col-left, .col2-right-layout .col-right { clear: both; width: auto; float: none;}

    .sidebar, .catalog-category-view .col-left, .catalog-category-view .col-right { margin: 0; padding-top: 30px; padding-bottom: 30px;}

    .category-products,
    .toolbar-bottom .toolbar .pager {margin-bottom: 0;}

    /* View Type: Grid */
    .col3-layout .col-main {
        width: auto;
        float: none;
    }

    .top-opc {width: auto;}
    .checkout-onepage-index .col-right { margin: 0;}     
    #checkout-step-login input.input-text {width: 100%;}

    .add-review .form-list {max-width: 100%;} 

    footer address { margin-bottom: 11px;}
    
    /*Form input styles*/
    .form-list .field,
    .form-list .field input.input-text { width:100% !important; margin-right: 0;}
	.fullwidth-bg {padding:13px 0}
	.tb_padding_wrap{padding:0 10px;width:35%;}
	.tb_padding_wrap h1{ font-size: 35px !important;line-height: 40px !important}
}

/***** iPad (landscape) *****/
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.container-bottom{margin-bottom:0px;}
	.col3-layout .page-head{margin: 0}
    .row { width:750px;}
    .row .row { width:auto; margin: 0 -12px;}

    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { padding-left: 12px; padding-right: 12px;}

    .breadcrumbs { padding: 0 12px;}
    .sidebar .block { width: 226px; margin: 0 12px 24px;}


    .search-field #search_mini_form .form-search button {margin-left:216px}

    footer .grid_6 { text-align:center; width:100%; margin:0 auto; }
    footer ul.links { float:none; }
    .footer-info .grid_3 { width:50%; margin-bottom:24px; }
	.footer-info .grid_3:nth-child(odd)  {clear: both;}

    header a.logo {margin: 24px 0;}

    .nav-container, .nav-container .nav-top-title, .nav-container li.parent em {display: inline-block; }
    .nav-container {margin-left: 22px; margin-top: 3px; position: relative; }
	.nav-container .nav-top-title { width: 106px; margin-bottom: 6px;}
    
    .below-logo .nav_below { display: inline-block;}
    .below-logo .nav-container { margin-left: 22px; display: inline-block;}

    #queldoreiNav, #nav, .search-field #queldoreiNav, .search-field #nav, .below-logo #nav, .below-logo #queldoreiNav{
		
        float:none; width: 499px; margin:0 auto 10px !important; display:none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        padding: 26px 25px 23px;
        box-sizing: border-box
    }
    #queldoreiNav li, #nav li { float:none; position:relative; width:auto; margin:0 auto 3px;}
    #queldoreiNav li a, #nav li a, #queldoreiNav ul li a, #nav ul li a { float:none; padding:0; }
    #queldoreiNav li a span, #nav li a span {padding:0px 10px; border:none;}
    #queldoreiNav li:hover,
    #queldoreiNav li.over,
    #queldoreiNav li.active,
    #nav li:hover,
    #nav li.over,
    #nav li.active{  box-shadow:none;}
    #queldoreiNav>li>a:hover>span,
    #queldoreiNav>li.over>a>span,
    #queldoreiNav>li.active>a>span,
    #nav>li>a:hover>span,
    #nav>li.over>a>span,
    #nav>li.active>a>span{border:none; background:transparent; color:#fff; }
    #queldoreiNav>li>a:hover>em,
    #queldoreiNav>li.over>a>em,
    #queldoreiNav>li.active>a>em,
    #nav>li>a:hover>em,
    #nav>li.over>a>em,
    #nav>li.active>a>em{color:#fff; }
    #queldoreiNav ul, #queldoreiNav ul ul, #nav ul, #nav ul ul { position:static; margin:0; padding:5px 0 10px 5px;  box-shadow:none; }
    #nav ul, #nav ul ul { display:none; }
    #queldoreiNav ul li, #nav ul li {width:auto; }
	#queldoreiNav div.sub-wrapper, #queldoreiNav div.sub-wrapper ul div.sub-wrapper {  display:none; position:static; width:auto; padding:0; margin:0; border:none; background:#fff;  box-shadow:none;}
	#queldoreiNav>li>div.sub-wrapper>ul>li { float:none; display:block; border:none; width:auto; padding:0;}
	#queldoreiNav ul div.sub-wrapper ul { float:none; display:block; border:none; width:auto; padding:5px 0 10px 5px;}
	#nav ul.level0, #nav > li div { position:static; margin:0; padding:5px 0 10px 5px; width:auto; }
	#nav ul.level0 > li { float:none; display:block; width:auto !important; margin:0 auto 3px;}

	#nav ul.level0 > li > a { padding:0; font-family:Arial, serif !important; font-size:12px; font-weight:normal; color:#322c29 !important; line-height:28px; letter-spacing:0; text-transform:none; }
	#nav ul ul li { float:none; width:auto; margin:0 auto 3px; padding:0; line-height:28px; background:none;}
	#nav ul li.over > a, #nav ul li a:hover {background:#f5f4f4 !important; }

    .homepage-banners a .content{margin:25px 20px;}
    .homepage-banners a .content p{display:none; }
    .homepage-banners a .content .border{margin:5px 10px; }
    .homepage-banners a .content strong{font-size:24px; }
    .homepage-banners a .content button{margin:5px 0 0;}

    /* Base Columns */
        .col-main-wrap { padding: 24px 12px 0;}
        .col-main-right { width:600px; padding:30px 0 0; }
    
    /* 1 Column Layout */
	
    /* 2 Columns Layout */
        .col2-left-layout .col-main         { margin-left: 0;}
        .col2-left-layout .col-main-wrap    { float: none;}
    	.col2-left-layout .col-left         { float:none; clear:both; width: 100%;}

        .col2-right-layout .col-main        { margin-right: 0;}
        .col2-right-layout .col-main-wrap   { float: none;}
        .col2-right-layout .col-right       { float:none; clear:both; width: 100%;}

    /* 3 Columns Layout */
        .col3-layout .col-main              { margin-right: 0;}
        .col3-layout .col-main-wrap-right   { margin-left: 0;}
        .col3-layout .col-main-wrap         { float: none;}
        .col3-layout .col-left,
        .col3-layout .col-right             { width: 100%;}

    /* Home Page Layout */  
        .home-main .category-products {margin:0;}

        .home-left, .home-right         { clear: both; width: auto; float: none; padding-top: 30px; padding-bottom: 30px;}
        .home-left:after, .home-right:after { content: ''; clear: both; display: table;}
        .cms-shopper-home-2col-left .home-main, .home-main-right, .home-main-left       { margin: 0;}
        .cms-shopper-home-2col-left .home-main-wrap, .home-main-wrap { float: none; padding-left: 0;}
        .cms-shopper-home-2col .home-main, .home-main,
        .cms-shopper-home-slideshow .home-main      { margin: 0;}
        .cms-shopper-home-2col .home-main-wrap,
        .cms-shopper-home-slideshow .home-main-wrap { float: none; padding-right: 0;}

        .home-left,.home-right { margin: 0 -2%;}
        .home-left .block, .home-right .block {
              padding: 0;
              margin: 0 2%;
              float: left;
              width: 46%;
        }


    /* View Type: Grid */
    .products-grid {margin: 0 -12px;}
    .products-grid li.item { padding: 0 12px; margin: 0 0px 24px;}

   

    .col2-left-layout .page-title, .col2-right-layout .page-title, .col3-layout .page-title,
    .col2-left-layout .page-head, .col2-right-layout .page-head, .col3-layout .page-head { margin-left:0;  margin-top: -24px;}

    .page-head h3, .product-category-title {margin-top: -25px;}
    
    .cart .cart-collaterals { padding: 24px 0px;}
    .cart .cart-collaterals .grid_4 { width: 50%;}
    .cart .cart-collaterals .cart-total-top { float: none; width: auto; margin: 0 0px 24px; display: block;}
           
    .checkout-onepage-index .col-right .block { float:none; position: static !important; top:0; }
  
    .flexslider .slides .content{max-width:560px;}
    .flexslider .slides .content strong {font-size:48px; line-height:40px; }
    .flex-direction-nav {width:768px; display:none !important; }

    .slider-container { margin-bottom: 0;}

    .site-block, .mousetrap, #cloud-big-zoom {display:none; }

    #shopping-cart-totals-table strong {font-size:18px; padding:0 10px 0 0;}

    .data-table tfoot td { text-align:right !important;}

    .data-table td.td-image a {text-align:center; }

    .data-table td.td-edit, .data-table .btn-remove {display:none;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
    
    .data-table td.td-delete { text-align:center !important;}
   
    .data-table .td-actions {display:inline-block; padding:0 0 5px;}

    .data-table th.td-wishlist, .data-table th.td-edit,
    .data-table td.td-wishlist, .data-table td.td-edit, .data-table .btn-remove { display:none;}

    #product-attribute-specs-table th { display:block;}
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; }
    #product-review-table th{display:table-cell;}
    

    /* Checkout: */
        .block-checkout-login .buttons-set p.required { clear: both; padding-top: 9px;}
        .opc .step {margin-bottom: 24px;}
        .opc .td-label {display:block; float:left; }
        .opc .step .buttons-set .back-link { margin: 0;}
        
        #checkout-review-table tfoot tr{display:table-row; }
        #checkout-review-table tfoot td{display:table-cell; }
        #checkout-review-table th, #checkout-review-table td {padding: 10px;}
        .opc #checkout-review-table span.td-label {display: none;}

        body.checkout-onepage-index .col2-right-layout .col-main        { margin-right: 250px;clear: inherit;}
        body.checkout-onepage-index .col2-right-layout .col-main-wrap   { float: left;}
        body.checkout-onepage-index .col-right                          { float: right; clear: inherit; width: 250px;margin-top: 296px; padding: 0px 12px 0; box-sizing: border-box;}
        #checkout-step-login                                            { margin: 0 -12px;}
        #checkout-step-login .block, #checkout-progress-wrapper .block  { margin-bottom: 24px;}
        #checkout-progress-wrapper .block-progress                      { margin-left: 0;margin-right: 0;}
        .page-title{min-height:85px;}

    /* Product View */
    .product-view .product-img-box {max-width: 50%;}
    .product-view .product-img-box .product-image img {max-width: 100%; height: auto;}
    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }   

    .home-main .jcarousel-skin-tango .jcarousel-container-horizontal, .home-main .jcarousel-skin-tango .jcarousel-clip-horizontal { width:auto;}

    .product-slider-container .jcarousel-skin-tango .jcarousel-clip { margin: 0 -12px;}
    .brands-slider-container .jcarousel-skin-tango .jcarousel-clip { margin: 0 -22px;}

    .product-slider-container {width:auto}

    .product-slider-container .jcarousel-skin-tango ul.products-grid li.item {width: 250px;}

    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item {}

    #toTop {display:none !important;}
   
    /* two_columns 4 products per row */
 
    .two_columns_4 .add-to-links {  height:auto; padding:10px 0;}
    .two_columns_4 .add-to-links li { display:block; margin:0; line-height:140%; }
    .two_columns_4 .add-to-links li { display:block; margin:0; }
    .two_columns_4 .hover .price-box {display:none}
    .two_columns_4 .quick-view { top:15%; left:23%; height:32px; line-height:32px; font-size:12px; }
    .two_columns_4 .product-name {font-size:14px}
    .two_columns_4 .hover .button-container button.button span span em {margin:0 5px 0 0;}
    /* two_columns 5 products per row */
    .col2-left-layout .two_columns_5 { margin:0}

    .two_columns_5 .add-to-links { height:auto; padding:10px 0;}
    .two_columns_5 .add-to-links li { display:block; margin:0; line-height:140%; }
    .two_columns_5 .add-to-links li { display:block; margin:0; }
    .two_columns_4 .hover .price-box {display:none}
    .two_columns_5 .quick-view { top:15%; left:23%; height:32px; line-height:32px; font-size:12px; }
    .two_columns_5 .product-name {font-size:14px}
    .two_columns_5 .hover .button-container button.button span span em {margin:0 5px 0 0;}

    /* one_columns 5 products per row */

    .one_column_5 .add-to-links {  height:auto; padding:10px 0;}
    .one_column_5 .add-to-links li { display:block; margin:0; line-height:140%; }
    .one_column_5 .add-to-links li { display:block; margin:0; }
    .one_column_5 .hover .price-box {display:none}
    .one_column_5 .quick-view { top:18%; left:21%; height:32px; line-height:32px; font-size:12px; }
    .one_column_5 .product-name {font-size:14px}
    .one_column_5 .hover .button-container button.button span span em {margin:0 5px 0 0;}
    /* one_columns 6 products per row */

    .one_column_6 .add-to-links {  height:auto; padding:10px 0;}
    .one_column_6 .add-to-links li { display:block; margin:0; line-height:140%; }
    .one_column_6 .add-to-links li { display:block; margin:0; }
    .one_column_6 .hover .price-box {display:none}
    .one_column_6 .quick-view { top:18%; left:21%; height:32px; line-height:32px; font-size:12px; }
    .one_column_6 .product-name {font-size:14px}
    .one_column_6 .hover .button-container button.button span span em {margin:0 5px 0 0;}

	
	.three_columns_2   .category-products .products-grid li.item, .three_columns_2   .widget-products .products-grid li.item {clear: none !important;width: 33.33% !important;}
    .three_columns_2  .category-products .products-grid li.item:nth-child(3n+1), .three_columns_2  .widget-products .products-grid li.item:nth-child(3n+1) {clear: both !important;}
	
	.products-list .add-to-links {padding:0;}
	
    .top-opc {margin-left: -30px; margin-right: -250px;}
    .top-opc li { margin-left: 30px;}

    #my-orders-table tr {border-bottom:1px solid #e9e9e9 }
    #my-orders-table tr.last {border:none}

    .form-list li.wide .input-box,
    .form-list li.wide input.input-text {width: 100%;}

    /* wishlist */
    .my-wishlist .data-table td .btn-remove { display: inline-block;}
   
}

/***** iPhone *****/
@media only screen and (max-width: 767px) {
	.container-bottom{margin-bottom:0px;}
	.col3-layout .page-head{margin: 0}
	.h1, .h2, .page-title h1, .page-title h2 {
  font-size:25px; line-height:30px; letter-spacing:-1px;
}

    .row .row { margin:0 -10px;}

    .header-wrapper {height: auto !important;}

    .one_half.last, .one_third.last, .two_third.last, .one_fourth.last, .three_fourth.last, .one_half, .one_third, .two_third, .one_fourth, .three_fourth { float: none; width: 100%; margin-bottom:30px;/* text-align:center;*/}
	

    .title-buttons {text-align:center}
    .title-buttons h1, .title-buttons h2, .title-buttons h3, .title-buttons h4, .title-buttons h5, .title-buttons h6 {float:none;}

    .site-block {display:none;}

    .top-switch-bg .grid_6 {text-align:center; margin:0}

    .links li{ line-height:120%; display:inline; padding:0 5px; text-align:center; white-space:nowrap; }
    .links li.separator {display:none; }

    .top-switch-bg .links {text-align: center;}

    .cart-top span {max-width: inherit;}

    .footer-banners { padding:25px 0 0; }
    .footer-info { padding:30px 0 15px 0; }
    .footer-info .grid_3 { margin-bottom:0px; }
    .footer-info .grid_3 .block-content { margin-bottom:30px; }
    .footer-info ul.social {margin:10px 0 0; }
    .footer-info .block-control {display:block; }
    .footer-info .block-content {display:none; }

    footer .grid_6{ text-align:center; margin-bottom: 0;}
    footer ul.links { float:none; }

    .language-switch, .currency-switch {display:none;}

    .language-select, .currency-select { padding-top: 7px; display: block; }

    .switch1 .language-select { width: 50%; margin: 0 auto;}
    .switch2 .currency-select { width: 50%; margin: 0 auto;}
    
    .switch1.switch2 .language-select,
    .switch1.switch2 .currency-select { float: left; margin: 0; box-sizing: border-box;}
    .switch1.switch2 .language-select { padding-right: 5px;}
    .switch1.switch2 .currency-select { padding-left: 5px;}

    .language-select span, .currency-select span {display:none; }
    .language-select select, .currency-select select { width:100%;}
    
    .nav-container .nav-top-title {width: auto;}

    .nav-container, .nav-container .nav-top-title, .nav-container li.parent em {display:block; }
	#queldoreiNav, #nav, .search-field #queldoreiNav, .search-field #nav{float:none; width:auto; margin:0 auto 0px; display:none;}
	#queldoreiNav li, #nav li { float:none; position:relative; width:auto; margin:0 auto 3px;}
	#queldoreiNav li a, #nav li a, #queldoreiNav ul li a, #nav ul li a { float:none; padding:0; }
	#queldoreiNav li a span, #nav li a span {padding:0px 10px; border:none;}
	#queldoreiNav li:hover,
	#queldoreiNav li.over,
	#queldoreiNav li.active,
	#nav li:hover,
	#nav li.over,
	#nav li.active{  box-shadow:none;}
	#queldoreiNav>li>a:hover>span,
	#queldoreiNav>li.over>a>span,
	#queldoreiNav>li.active>a>span,
	#nav>li>a:hover>span,
	#nav>li.over>a>span,
	#nav>li.active>a>span{border:none; background:transparent; color:#fff; }
	#queldoreiNav>li>a:hover>em,
	#queldoreiNav>li.over>a>em,
	#queldoreiNav>li.active>a>em,
	#nav>li>a:hover>em,
	#nav>li.over>a>em,
	#nav>li.active>a>em{color:#fff; }
	#queldoreiNav ul, #queldoreiNav ul ul, #nav ul, #nav ul ul { position:static; margin:0; padding:5px 0 10px 5px;  box-shadow:none; }
	#nav ul, #nav ul ul { display:none; }
	#queldoreiNav ul li, #nav ul li {width:auto; }
	#queldoreiNav div.sub-wrapper, #queldoreiNav div.sub-wrapper ul div.sub-wrapper {  display:none; position:static; width:auto; padding:0; margin:0; border:none; background:#fff;  box-shadow:none;}
	#queldoreiNav>li>div.sub-wrapper>ul>li { float:none; display:block; border:none; width:auto; padding:0;}
	#queldoreiNav ul div.sub-wrapper ul { float:none; display:block; border:none; width:auto; padding:5px 0 10px 5px;}
	#nav ul.level0, #nav > li div { position:static; margin:0; padding:5px 0 10px 5px; width:auto; }
	#nav ul.level0 > li { float:none; display:block; width:auto !important; margin:0 auto 3px;}

	#nav ul.level0 > li > a { padding:0; font-family:Arial, serif !important; font-size:12px; font-weight:normal; color:#322c29 !important; line-height:28px; letter-spacing:0; text-transform:none; }
	#nav ul ul li { float:none; width:auto; margin:0 auto 3px; padding:0; line-height:28px; background:none;}
	#nav ul li.over > a, #nav ul li a:hover {background:#f5f4f4 !important; }

    .homepage-banners a .content{margin:50px 20px;}
    .homepage-banners a .content .border{margin:5px 10px; }
    .homepage-banners a .content strong{font-size:24px; line-height:18px; }
    .homepage-banners a .content p{display:none;}
    .homepage-banners a .content button{margin:5px 0 0;}


    /* Base Columns */
        .col-main-wrap { float: none; padding: 20px 10px 0;}
        
        .col2-left-layout .col-left, .col3-layout .col-left,
        .col2-right-layout .col-right, .col3-layout .col-right { padding-top: 30px;}
    
    /* 1 Column Layout */
    
    /* 2 Columns Layout */
        .col2-left-layout .col-main         { margin-left: 0;}
        .col2-left-layout .col-main-wrap    { float: none;}
        .col2-left-layout .col-left         { float:none; clear:both; width: 100%;}

        .col2-right-layout .col-main        { margin-right: 0;}
        .col2-right-layout .col-main-wrap   { float: none;}
        .col2-right-layout .col-right       { float:none; clear:both; width: 100%;}

    /* 3 Columns Layout */
        .col3-layout .col-main              { margin-right: 0;}
        .col3-layout .col-main-wrap-right   { margin-left: 0;}
        .col3-layout .col-main-wrap         { float: none;}
        .col3-layout .col-left,
        .col3-layout .col-right             { width: 100%;}
    
    /* Home Page Layout */  
        .cms-index-index .col-main { margin: 0;}
        .home-main .category-products {width:auto; margin:0 auto 0px;}

        .home-left, .home-right         { clear: both; width: auto; float: none; padding-top: 30px; padding-bottom: 30px;}
        .home-left:after, .home-right:after { content: ''; clear: both; display: table;}

        .cms-shopper-home-2col-left .home-main, .home-main-right, .home-main-left       { margin: 0;}
        .cms-shopper-home-2col-left .home-main-wrap, .home-main-wrap  { float: none; padding-left: 0;}
        .cms-shopper-home-2col .home-main,
        .cms-shopper-home-slideshow .home-main, .home-main      { margin: 0;}
        .cms-shopper-home-2col .home-main-wrap,
        .cms-shopper-home-slideshow .home-main-wrap { float: none; padding-right: 0;}


    /*  Prodcut grid and item */
       .category-products .products-grid li.item, .widget-products .products-grid li.item {clear: none !important;width: 50% !important;}
       .category-products .products-grid li.item:nth-child(2n+1), .widget-products .products-grid li.item:nth-child(2n+1) {clear: both !important;}
		
		
       
        
        .cms-shopper-home-2col .col1-layout .category-products .products-grid li.item:nth-child(3n+1),
        .cms-shopper-home-2col-left .col1-layout .category-products .products-grid li.item:nth-child(3n+1),
        .cms-shopper-home-slideshow .col1-layout .category-products .products-grid li.item:nth-child(3n+1) { clear: inherit;}
        .cms-shopper-home-2col .col1-layout .category-products .products-grid li.item:nth-child(4n+1),
        .cms-shopper-home-2col-left .col1-layout .category-products .products-grid li.item:nth-child(4n+1),
        .cms-shopper-home-slideshow .col1-layout .category-products .products-grid li.item:nth-child(4n+1) { clear: inherit;}
        .cms-shopper-home-2col .col1-layout .category-products .products-grid li.item:nth-child(2n+1),
        .cms-shopper-home-2col-left .col1-layout .category-products .products-grid li.item:nth-child(2n+1),
        .cms-shopper-home-slideshow .col1-layout .category-products .products-grid li.item:nth-child(2n+1) { clear: both;}
        .cms-shopper-home-2col .col1-layout .category-products .products-grid li.item,
        .cms-shopper-home-2col-left .col1-layout .category-products .products-grid li.item,
        .cms-shopper-home-slideshow .col1-layout .category-products .products-grid li.item {width: 50%;}
    	

    .col2-left-layout .page-title, .col2-right-layout .page-title, .col3-layout .page-title,
	.col2-left-layout .page-head, .col2-right-layout .page-head, .col3-layout .page-head { margin-left:0; margin-top: -20px;}

    .page-head h3, .product-category-title {margin-top: -21px;}

    .checkout-onepage-index .col-right .block { float:none; }   

    .flexslider .slides .content{max-width:240px; margin:30px; }
    .flexslider .slides .content strong{font-size:32px; line-height:26px; }
    .flex-direction-nav {width:300px; display:none !important;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    .slider-container {margin-bottom:0;}

    .site-block, .mousetrap, #cloud-big-zoom {display:none; }

    .block-login {width:300px;}
    .block-login .block-title {padding:29px 8px 50px;}
    .block-login .block-content {padding:0 18px 25px;}
    .block-login .new-users {width:300px;}

    .product-prev, .product-next {
        font-size: 0; color: transparent; width: 27px; height: 27px; padding: 0; margin-top: 4px;
    }
    .product-prev span, .product-next span {
        width: 27px; height: 27px; padding: 0;
        display: block;
    }
    .product-prev span {
        background-position: 1px -1px;
    }
    .product-next span {
        background-position: -2px -29px;
    }

    .data-table tfoot tr.first td.last {box-shadow: none; text-align: center !important;}
    #checkout-review-table tfoot tr.first td.last {box-shadow: inset 0px 4px 6px -4px rgba(0, 0, 0, 0.15);}
    body.sales-order-view table#my-orders-table tfoot td.last {padding-top: 0;}

    .cart .cart-collaterals .grid_4 {clear: both; float: left;}

    /* View Type: Grid */
    .products-grid { margin: 0 -10px;}
    .products-grid li.item {
        width: 50%;
        padding: 0 10px;
        margin: 0 0px 20px;
    }

    .product-view .product-shop-info {padding-left: 0;}
    .product-view .product-shop-info .product-name {margin-left: 0; margin-top: 0;}

    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    .product-view .product-img-box {float:none; margin:0 auto 20px; max-width:300px }
    .product-view .product-img-box .product-image img{ width:282px; height:auto; }
  /*  .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-container-horizontal,
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-clip-horizontal {width:190px !important; overflow:hidden; }
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item {width:190px !important; margin:0}
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item img {display:block; width:140px; height:auto; margin:0 auto;}*/
    
    .product-tabs {display:none}
	.product-tabs-container { 
        margin: 0 0 30px; 
        box-shadow: 1px -1px 6px -1px rgba(0, 0, 0, 0.15);
    }
	.product-tabs-container h2.tab-heading { display:block; font-family: Arial, Helvetica, sans-serif;}
    .product-tabs-container > h2#product_acc_description_tabbed {border-radius: 3px 3px 0 0;}
    .product-tabs-container > h2#product_acc_custom {border-radius: 0 0 3px 3px;}
	.product-tabs-content {
        margin: 0px 0px 1px;
        padding: 3px 21px 22px;
        box-shadow: none;
    }


    /*ui-accordion styles*/

    body .ui-accordion { 
        margin: 0 0 30px;
        box-shadow: 1px -1px 6px -1px rgba(0, 0, 0, 0.15);
    }

    body .ui-accordion h2.ui-accordion-header { 
        border: 1px solid #e1e1e1;
        margin: -1px 0 0 0 !important;
        position: relative;
        background: #f5f5f5;
        padding: 11px 0 10px;
        box-sizing: border-box;
        font-weight: bold;
        line-height: 1.25;
        border-radius: 0;
    }

    body .ui-accordion-header-icon { display: none !important; }
    body .ui-accordion:first-child h2 { border-radius:3px 3px 0px 0px; }
    body .ui-accordion h2.ui-accordion-header { display:block; font-family: Arial, Helvetica, sans-serif;}
    body .ui-accordion h2.ui-accordion-header:hover { background-color:#fff; }
    body .ui-accordion h2.ui-accordion-header a { display:block; padding:0px 20px !important; color:#000; color:rgba(0,0,0,0.67); font-size:16px;text-transform: none; letter-spacing: -1px; }
    body .ui-accordion h2.ui-accordion-header a:hover { text-decoration:none; }
    body .ui-accordion h2.ui-state-active {border:0; padding-left: 1px; border-top-width:4px; border-top-style: solid; background:#fff; border-radius:2px; }
    body .ui-accordion h2.ui-state-active a,
    body .ui-accordion h2.ui-state-active a:hover { background-color:#fff; }
    body .ui-helper-reset,
    body .ui-accordion-content { font-size: inherit; line-height: inherit; }
    body .ui-accordion .ui-accordion-content {
        margin: 0px 0px 1px !important;
        padding: 3px 21px 22px !important;
        box-shadow: none !important;
    }

    /* Accordeon style for Alternative Custom Tabs */

    body .clean_tabs .ui-accordion h2.ui-accordion-header:hover { background-color:transparent; }
    body .clean_tabs .ui-accordion h2.ui-state-active {border:0; border-top-width:4px; border-top-style: solid; background:transparent; }
    body .clean_tabs .ui-accordion h2.ui-state-active a,
    body .clean_tabs .ui-accordion h2.ui-state-active a:hover { background-color:transparent; }
    body .clean_tabs .ui-accordion .ui-widget-content { background:transparent; }

    .product-view .box-tags .form-add .input-box {width:167px;}
    
    .home-main .jcarousel-skin-tango .jcarousel-container-horizontal, .home-main .jcarousel-skin-tango .jcarousel-clip-horizontal { width:auto;}
    .product-slider-container .jcarousel-skin-tango .jcarousel-clip { margin: 0 -10px;}
    .brands-slider-container .jcarousel-skin-tango .jcarousel-clip { margin: 0 -20px;}
    
    .product-slider-container {width:auto}
    
    .product-slider-container .jcarousel-skin-tango ul.products-grid li.item {width: 230px;}

    .product-slider-container h2 {width:200px;}

    .brands-slider-container .jcarousel-skin-tango .jcarousel-clip ul.jcarousel-list {  padding: 28px 0 0px !important;}

    .my-account .page-title button.button {margin-top: 30px;}

    .cart .page-title { height:auto;}
    .cart .page-title .checkout-types { margin:19px 0 0; float:none;}
    .cart .title-buttons .checkout-types li {float:none; margin:0; text-align:center;}
    #shopping-cart-totals-table strong {font-size:20px; padding:0 10px 0 0;}
	
	
    .data-table table, .data-table thead, .data-table tbody, table.data-table td, .data-table tr { display: block; border:0px;   text-align: left !important;}
	.data-table tr {border-bottom:1px solid #e9e9e9;}
	.data-table th {display:none;}
    .data-table td, .data-table .td-name {padding:20px;}
    .data-table td.td-name h2 {font-size:20px; font-weight:400; }
    .data-table td.td-image {padding-top: 25px;}
    .data-table td.td-image a {text-align:center; }
    .data-table td.td-image img {width:200px;}
    .data-table td.td-edit, .data-table .btn-remove {display:none;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
    .data-table td.td-price {padding:20px; background:#fafafa;}
    .data-table td.td-qty {padding:0 20px; background:#fafafa;}
	.data-table button.button span{padding:0}
	.data-table button.button span{width:100%}
    .data-table td.td-delete {background:#fafafa; text-align:center !important;}
    .data-table td.td-wishlist {padding:10px;}
    .data-table .td-title {display:inline-block; width:100px; padding:0 10px 0 0; font-weight:bold; vertical-align: middle;}
    .data-table .qty-wrap {float: none;vertical-align: middle;display:inline-block;}
    .data-table .td-actions {display:inline; padding:0 5px; }
    .data-table .button, .data-table .btn-continue {float:none; display:inline-block; margin:0 0px 12px; width:100%; padding:0;}
    .data-table .btn-continue {margin-left: 0;} .data-table .btn-update {margin-right: 0;}
    .data-table .btn-emty {clear: both; margin-bottom: 0;}
    
	.ox_table table, .ox_table thead, .ox_table tbody, table.ox_table td, .ox_table tr { display: block; border:0px;  text-align: left !important;}	
	table.ox_table tbody td{ border-top:0px;}
    .ox_table th {display:block;}
	.ox_table tr {border-bottom:1px solid #e9e9e9;}
    .ox_table td, .ox_table .td-name {padding:10px;}
    .ox_table td.td-name h2 {font-size:20px; font-weight:400; }
    .ox_table td.td-image {padding-top: 25px;}
    .ox_table td.td-image a {text-align:center; }
    .ox_table td.td-image img {width:200px;}
    .ox_table td.td-edit, .ox_table .btn-remove {display:none;}
    .ox_table .td-actions .btn-remove, .ox_table .td-actions .btn-edit {display:inline-block;}
    .ox_table td.td-price {padding:10px; background:#fafafa;}
    .ox_table td.td-qty {padding:0 10px; background:#fafafa;}
    .ox_table td.td-delete {background:#fafafa; text-align:center !important;}
    .ox_table td.td-wishlist {padding:10px;}
    .ox_table .td-title {display:inline-block; width:100px; padding:0 10px 0 0; font-weight:bold; vertical-align: middle;}
    .ox_table .qty-wrap {float: none;vertical-align: middle;display:inline-block;}
    .ox_table .td-actions {display:inline; padding:0 5px; }
    .ox_table .button, .ox_table .btn-continue {float:none; display:inline-block; margin:0 5px 12px}
    .ox_table .btn-continue {margin-left: 0;} .ox_table .btn-update {margin-right: 0;}
    .ox_table .btn-emty {clear: both; margin-bottom: 0;}
	
    #product-review-table  th { display:block;}
    #product-review-table  th span { display: block; margin: 0 auto; width: 8px; overflow: hidden;}
    
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; min-width: 13px; border: 1px solid #e9e9e9;border-top: none;border-left: none;}
    #product-review-table tbody tr:last-child td {border-bottom: none;}
    #product-review-table th{display:table-cell;}

	.cart .cart-collaterals { padding: 20px 0px;}

	

    .opc .step { margin-bottom: 20px;}

    #toTop {display:none !important;}


    #my-reviews-table td {padding-bottom: 0;}
    #my-reviews-table tbody td.last {border-bottom: 1px solid #e9e9e9; padding-bottom: 10px;}
    #my-reviews-table tbody tr.last td.last {border-bottom: 0;}

    
    .products-list .ratings { float: none; width: auto; clear: both; margin: 0;}

    /* two_columns 4 products per row */
    
    .two_columns_4 .product-name {font-size:16px}
    /* two_columns 5 products per row */
    .col2-left-layout .two_columns_5 { margin:0 auto}
    
    .two_columns_5 .product-name {font-size:16px}

    /* one_column 5 products per row */
   
    .one_column_5 .product-name {font-size:16px}
    /* one_column 6 products per row */
   
    .one_column_6 .product-name {font-size:16px}

    .top-opc {margin-left: 0;}
    .top-opc li { margin:0 0 30px}
    .opc .td-label {display:block; float:left; }
    .form-list .field { float: none; width: 100%; margin-right: 0; margin-bottom: 5px;}

    
    /* Checkout: */
    #checkout-review-table tfoot tr {display:table-row; }
    #checkout-review-table tfoot td {display:table-cell; }
    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { float: none; width: auto;}
    #checkout-step-login .block-checkout-register .block,  #checkout-progress-wrapper .block { margin-bottom: 20px;}
    #checkout-step-login .block-checkout-login .block { margin-bottom: 0;}
   
    #checkout-review-submit p {margin:0 20px 0 0;}

    #review-buttons-container {text-align: center}
    #review-buttons-container button {float:none;}

    #my-orders-table span.title {display:inline-block}
    #my-orders-table tr {border-bottom:1px solid #e9e9e9 }
    #my-orders-table tr.last {border:none}

    .form-list li.wide .input-box,
    .form-list li.wide input.input-text { width: 100%;}

    .col2-set .col-1, .col2-set .col-2 {float:none; width:100%;}
    .my-account .col2-set .col-1 {float:left; width:49%;}
    .my-account .col2-set .col-2 {float:right; width:49%;}

    .col2-set address {margin:5px 0;}
    .opc .step  .buttons-set .back-link { margin: 0;}

    /* wishlist */
    .my-wishlist .data-table td .btn-remove { display: inline-block;}
    .my-wishlist .data-table td.last {padding: 0 0 10px; text-align: center !important;}
    .my-wishlist .data-table .add-to-cart-alt { margin: 0 4px;}
    .my-wishlist .data-table .cart-cell > div, .my-wishlist .data-table .cart-cell > p  { display: inline-block; vertical-align: middle;}
    .my-wishlist .data-table input.qty,
    .my-wishlist .data-table button.button { display: inline-block; margin: 0 4px; vertical-align: middle;}
    .my-wishlist .data-table input.qty { width: 45px;}

    .my-wishlist + .buttons-set { margin: 0;}
    .my-wishlist + .buttons-set .back-link {float: left;}

    .account-login, .account-create {padding: 20px 0;}

     /*blog styles*/

    .postContent {
        margin: 0;
    }
    .blogMeta {
        float: none;
        width: 100%;
        padding: 0;
    }
    .postDetails {
        margin: 0;
        text-align: left;
    }
    .postDetails .author {
        display: inline-block;
    }
    .add-comments ul.form-list input.input-text {
        width: 100%;
    }
    .blog-icon {
        display: none;
    }
    .commentBox,
    .postDetails .separator-resp {
        display: inline-block;
    }
    .postContentWrapper {
        margin-left: 0;
    }
    button.button.aw-blog-read-more {
        margin-top: 0;
    }
	
	.tb_padding_wrap{padding:40px 10px;width:100%;}
	.fullwidth-bg.a-center.clearfix {background-image:none !important}
}


/***** iPhone (landscape) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.align_right, .align_left {text-align: center!important;}
	.hide_on_mobile{ display:none!important; }
	.container-bottom{margin-bottom:0px;}
	.col3-layout .page-head{margin: 0}
	.product-options dd select{width:100%;}
	.toolbar-switch .toolbar-title {z-index:4;}
	.product-view .product-img-box {float:none; margin:0 auto 20px; max-width:440px }
    .product-view .product-img-box .product-image img{ width:100%; height:auto; }
	
    .row { width:460px; margin: 0 auto;}
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { 
        width:100%; padding: 0 10px; margin:0 0 20px;
    }

    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }

    .cart-top-container {margin-right: 56px;}
    .cart-top span {
        padding-left:5px;
        font-size: 11px;
		padding: 11px 0 0 9px;
        width: 50px;
        position: absolute;
    }

    .homepage-banners a .content p{display:block;}

    /* Header */
        header a.logo {margin: 19px 0;}
        header .grid_12 {margin-bottom: 13px;}

    .top-dropdowns {top: 37px;}

    #queldoreiNav, #nav, .search-field #queldoreiNav, .search-field #nav {width: auto; margin-bottom: 0;}
    #queldoreiNav li, #nav li {width: auto;}

    /* Search field */
        .search-field  a.logo { margin-bottom: 59px;}
        .search-field .search-top-container { position: absolute; left: 0; top: 49px; margin: 0;}
        .search-field .search-top-container .form-search { margin-left: -309px; margin-right: -131px;}
        .search-field #search { width: 100%;}

    .below-logo .nav-container { margin: 0;}
    
    .breadcrumbs {padding: 0 12px;}

    .home-left,.home-right { margin: 0 -2%;}
    .home-left .block, .home-right .block, 
    .cms-shopper-home-2col-left .home-left .block  {
          padding: 0;
          margin: 0 2%;
          float: left;
          width: 46%;
    }

    /* View Type: Grid */
        .sorter .sort-order {margin-right: 9px;}

    /* View Type: List */
        .products-list .f-left {max-width: 30%;}
        .products-list .f-left img {max-width: 100%; height: auto;}
        .products-list .product-shop { padding-left: 20px;}
        .products-list .product-name {margin-left: 0;}
        .products-list .button-container p, .products-list .add-to-links, .products-list .add-to-links li a {line-height: 30px;}
        .products-list .button-container .btn-add-cart, .products-list .add-to-links a {font-size: 12px;}
        .products-list .button-container .btn-add-cart span {width: 30px;height: 30px; margin: 0 6px 0 0;background-position:-243px -91px;}
        .products-list .add-to-links li:first-child {padding: 0 11px;}
    
    
    .flexslider .slides .content{max-width:396px; margin:30px; }
    .flex-direction-nav {width:456px;}
    .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block;  position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
    .flex-direction-nav .flex-next {background-position: 100% 0; }
    .flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
    .flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}

    .homepage-banners a .content p{display:none;}

    .top-opc li { width: 137px; padding-right: 5px;}
    .top-opc li h2 { font-size: 14px;}

    .dashboard .box-reviews li.item {width: 50%;}

    .sidebar .block { margin: 0 10px 20px; width: 210px;}

    .toolbar-switch .toolbar-title {padding-right: 37px;}
}

/***** iPhone (portrait) *****/
@media only screen and (max-width: 479px) {
	.container-bottom{margin-bottom:0px;}
	.col3-layout .page-head{margin: 0}
	.product-options dd select{width:100%;}
	
	.toolbar-switch .toolbar-title {z-index:4;}
	/* hide cart icon on mobiles*/
	.products-grid .button-container{
		display:none;
	}
	/* scale down labels on mobiles */
	.product-img-box .sale-top-left{
		background-position:-130px -0px;
	}
	.sale-label{
		
		background-position: -197px 0px!important;	
	}
	.sale-top-left{
		background-position:-130px -0px!important;
	}
	.new-label{
		background-position: -65px 0px!important;	
	}
	
	.new-top-left{
	
		background-position: 0px 0px!important;	
	}
	
	.new-label, .sale-label{
		width:65px;
		height:65px;	
		background-size: 260px 130px!important;	
	}
	/*prodct page */
	.product-view .product-shop .price-box .old-price{
		position:initial;
		margin:0px 0 5px 0px;
	}

	.product-view .product-shop .price-box .price, .product-view .product-shop-info .price-box .regular-price .price, .product-view .product-shop-info .price-box .special-price .price{
		font-size:36px;
	}
	
	.price-box p.old-price{
		float:none;
	}
	.product-view h1{
		font-size:26px;
	}
	
	 product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-container-horizontal,
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-clip-horizontal {width:190px !important; overflow:hidden; }
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item {width:190px !important; margin:0}
    .product-view .product-img-box .more-views .jcarousel-skin-tango .jcarousel-item img {display:block; width:140px; height:auto; margin:0 auto;}
    .row { width:320px; margin: 0 auto;}
    .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
        width:320px; padding: 0 10px; margin: 0 0 20px;
    }
  
    header .grid_12 { text-align: center; margin-bottom: 19px;}
    header .logo { display: block;}
    header a.logo { margin: 19px 0;}
    .top-dropdowns {
        position: relative;
        top: inherit;
        margin: 0;
        display: inline-block
    }

    /* Resize Navigations Elements: */
        .nav-container { width: 38px; display: inline-block;}
            .nav-container .nav-top-title { width: 38px; height: 38px; border-radius: 100%; padding: 0; margin: 0;}
                .nav-container .nav-top-title a {display: none;}
                    .nav-container .nav-top-title div.icon { margin: 13px 10px 0 12px;}
            #queldoreiNav, #nav, .search-field #queldoreiNav, .search-field #nav, .below-logo #nav, .below-logo #queldoreiNav { margin: 8px 0px 0px -69px; width: 300px;}
            .search-field #queldoreiNav, .search-field #nav {margin-left: -86px; /* ? */ }
        .top-dropdowns {vertical-align: top;}
        .compare-top-container, .cart-top-container {margin-left: 6px;}
        .cart-top {position: relative;}
        .cart-top span {
            padding-left: 5px;
			padding: 11px 0 0 9px;
            font-size: 11px;
            width: 63px;
            position: absolute;
            text-align: left;
        }

        .search-form, .compare-top-container .details, .cart-top-container .details,
        .search-form-border, .compare-top-container .details-border, .cart-top-container .details-border { width: 300px; box-sizing: border-box;}
        .search-form {left: -109px; right:0;}
        .compare-top-container .details { left: -153px; right:0;}
        .cart-top-container .details { left: -197px;}

        .search-form-border:before { right: 166px;}
        .compare-top-container .details-border:before { right: 122px;}
        .cart-top-container .details-border:before { left: inherit; right: 78px;}

        #search_mini_form .form-search button { display: block; right: 2px;}
    
    /* Search field */
        .search-field  a.logo { margin-bottom: 59px;}
        .search-field .search-top-container { position: absolute; left: 0; top: -44px; margin: 0;}
        .search-field .search-top-container .form-search {margin-left: -127px; margin-right: -173px;}
        .below-logo .search-field .search-top-container .form-search {margin-left: -119px;  margin-right: -179px;}
        .search-field #search { width: 100%;}

    .below-logo .nav_below {display: inline-block;}

    .breadcrumbs {padding: 0 10px;}
    
    .sidebar .block { margin: 0 10px 20px; width: 300px;}

    .cms-index-index .block {margin: 0 0 20px;}

    /* View Type: Grid */
        .products-grid .product-name a,
        .products-grid .price-box .price { font-size: 14px;}

    /* View Type: List */
        .products-list li.item {padding: 0 0px 30px;}
        .products-list .product-image, .products-list .f-left { float:none !important; margin: 0 auto; text-align: center;}
        .products-list .product-image {display: inline-block;}
        .products-list .product-shop {margin:10px 0 0; padding-left: 0; overflow: inherit;}
        .products-list .product-name {margin-left: 0;}
        .products-list .ratings { clear: both; margin-left: 0; white-space: nowrap; width: auto;}
        .products-list .button-container p, .products-list .add-to-links, .products-list .add-to-links li a {line-height: 30px;}
        .products-list .button-container .btn-add-cart, .products-list .add-to-links a {font-size: 12px;}
        .products-list .button-container .btn-add-cart span {width: 30px;height: 30px; margin: 0 9px 0 0;background-position:-243px -91px;}
        .products-list .add-to-links li:first-child {padding: 0 16px;}
 
    
    .slider-container .jcarousel-list .product-name a {font-size: 14px;}

    .product-slider-container .jcarousel-skin-tango ul.products-grid li.item {width: 160px;}

    .brands-slider-container .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .brands-slider-container .jcarousel-skin-tango .jcarousel-container-horizontal {overflow: hidden;}
    .brands-slider-container .jcarousel-skin-tango .jcarousel-item-horizontal { margin-right: -16px;}

    .data-table .button span span { padding: 0 0px;}
    
    .top-opc li { width: 145px; padding-right: 5px;}
    .top-opc li h2 { font-size: 14px;}

    .my-account .col2-set .col-1, .my-account .col2-set .col-2 {float:none; width:100%;}

    .dashboard .box-reviews li.item {width: 100%;}
    
    .footer-banners { padding: 25px 0 15px;}
    
    /* View Type: Grid */
        .product-view .add-to-box {margin-left: 0px; margin-top:10px;}
    
    .product-shop .ajax_loading {position: relative;margin: 0;text-align: center;}

    /* Review details */
        .product-review .product-img-box {
            float: none;
            margin: 0 0 20px;
            text-align: center;
        }
        .product-review .product-details {overflow: inherit;float: none;}

        .product-slider-container h2 {width:auto;}

        .cms-shopper-home-2col-left .home-left .block { margin-left: 0; }

    /*contact page*/

    .cms-contacts-page .contacts { width: 51%; }
	.page-title{min-height:85px;}
	.thin_big_title{
    font-size: 45px !important;    
	line-height: 40px !important;
}
.fullwidth-bg {padding: 40px 0; }
.tb_padding_wrap{padding:0;}
.hide_on_mobile{display:none!important;}
.align_right, .align_left {text-align: center!important;}

 .homepage-banners a .content{margin:20px 15px;}
}