.form-list .customer-dob .dob-day + .dob-month + .dob-year, .form-list .customer-dob .dob-month + .dob-day + .dob-year, .form-list .customer-dob .dob-year + .dob-day + .dob-month, .form-list .customer-dob .dob-year + .dob-month + .dob-day {
  padding-right: 0;
}
.opc .step{padding: 10px 8px;margin-bottom: 10px;}
.form-list li.tipopessoa label{ margin-right: 5%;}
.form-list input.input-text,.form-list select{width:85%;}
.form-list li.wide .input-box{width:100%;}
.form-list li.wide input.input-text,.form-list li.wide select{width:95%;}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month, .form-list .customer-dob .dob-year{   float: left; padding-right: 15px; padding-left: 15px; }
.form-list .field{width: 50%;}
.form-list .field .input-box{width:100%;}


.hide {display: none;}
.nao-sei-cep {cursor: help;font-size: 11px;margin-left: 10px; position: relative; padding-top: 11px; display: block;}
.sp-methods .form-list{padding-left: 0;}
.onestepcheckout-postcod-process{display: none;margin-left: -15px;position: absolute;width: 16px;height: 16px;}
.onestepcheckout-error-msg, .onestepcheckout-success-msg{font-weight:bold;padding-top: 3px;padding-bottom: 3px;}
.onestepcheckout-error-msg{color: #df280a;border: 1px solid #f16048;background-color: #faebe7;}
.onestepcheckout-success-msg{color: #3d6611;border: 1px solid #446423;background-color: #eff5ea;}
.onestepcheckout-error-msg li, .onestepcheckout-success-msg li{padding-left: 10px;padding-right: 10px;}
#onestepcheckout-container div.validation-passed,#onestepcheckout-container div.validation-error{background: none;padding-right: 0;}
.onestepcheckout-overlay, .onestepcheckout-timer{width: 100%;height: 100%;position: absolute;z-index: 199;background-color: #FFF;}
#acp-overlay{z-index: 199;}
.onestepcheckout-overlay-48{background-image: url('../images/ajax-loader-48px.gif');background-repeat: no-repeat;background-position: center center;} 
.onestepcheckout-overlay-24{background-image: url('../images/ajax-loader-24px.gif');background-repeat: no-repeat;background-position: center center;}
.onestepcheckout-overlay-16{background-image: url('../images/ajax-loader-16px.gif');background-repeat: no-repeat;background-position: center center;}
.onestepcheckout-timer{display: none;overflow: hidden;}
.onestepcheckout-timer-title{text-align:center;padding-top:20px;}
.onestepcheckout-timer-title h1 span{font-weight: bold;}
.onestepcheckout-timer-description{text-align:center;}
.onestepcheckout-timer-actions a{font-weight: bold;font-size: 17px;}
.onestepcheckout-timer-actions-left, .onestepcheckout-timer-actions-right{width:50%;float:left}
.onestepcheckout-timer-actions-left{text-align: right;}
.onestepcheckout-timer-actions-right{text-align: left;}
.onestepcheckout-timer-actions-left a{margin-right: 15px;}
.onestepcheckout-timer-actions-right a{margin-left: 15px;}
.onestepcheckout-add-loader-into-this-block,#onestepcheckout-order-review-cart-wrapper,#onestepcheckout-order-review-coupon-wrapper{position: relative;}
.osc-title{background: none repeat scroll 0 0 #B3B3B3;border-top: 1px solid #A3A3A3;border-bottom: 1px solid #A3A3A3;color: #FFFFFF;cursor: default;padding-bottom: 5px;margin: 14px -8px !important;line-height: 26px;padding: 0 14px;font-weight: bold;}
#onestepcheckout-title{}
#onestepcheckout-title-description{font-size: 18px;}
#onestepcheckout-authentification-button{border-top: 1px solid #D8D2C7;}
#onestepcheckout-authentification{overflow: hidden;min-height: 99px;}
#onestepcheckout-authentification-container{height: 120px;position: relative;top: 0;}
#onestepcheckout-authentification .validation-advice{position: absolute;width: 163px;}
#onestepcheckout-login-form, #onestepcheckout-forgot-password-form, #onestepcheckout-forgot-password-success{display: block;padding-top:5px;min-height: 120px;}
#onestepcheckout-login-form .form-list, #onestepcheckout-forgot-password-form .form-list, #onestepcheckout-forgot-password-success{padding-bottom: 5px}
.onestepcheckout-auth-form-block{display:inline-block;padding-right: 10px;vertical-align: bottom;}
.onestepcheckout-auth-form-block.forgot_password{padding-top: 18px;}
.onestepcheckout-auth-form-block .input-box{width:180px;}
.onestepcheckout-auth-form-block input.input-text {width:174px;margin-bottom: 0;}
#onestepcheckout-login-forgot-link{cursor: pointer;}
#onestepcheckout-forgot-password-form p, #onestepcheckout-forgot-password-success p{margin:0;padding:0;}
#onestepcheckout-authentification label{width: auto;text-align: left;padding: 0;}
#onestepcheckout-authentification label.required em {float: right;font-style: normal;color: #eb340a;position: relative;right: -4px;margin-right: 0;}
#onestepcheckout-authentification .form-list .input-box{float: none;}
#onestepcheckout-authentification .form-list .input-box input{float: none;}
.onestepcheckout-cart-table {width: 100%;font-size: 12px;}
.onestepcheckout-cart-table thead th {display: table-cell;border-top: thin solid #BEBCB7;border-bottom: thin solid #BEBCB7;border-left: 0;border-right: 0;font-weight: bold;padding: 2px 8px;color: #0a263c;white-space: nowrap;vertical-align: middle;}
.onestepcheckout-cart-table thead th.qty{text-align: center;}
.onestepcheckout-cart-table thead th.total{text-align: right;}
.onestepcheckout-cart-table tbody td,.onestepcheckout-cart-table tfoot td,.onestepcheckout-cart-table tfoot th{border-bottom: thin solid #BEBCB7;padding: 3px 8px;}
.onestepcheckout-cart-table .btn-remove{display: none;}
.onestepcheckout-cart-table .btn-remove2{display: block;width: 16px;height: 16px;font-size: 0;line-height: 0;background: url(../../images/btn_trash.gif) 0 0 no-repeat;text-indent: -999em;overflow: hidden;}
#onestepcheckout-review-table-cart-wrapper{position: relative;}
#onestepcheckout-review-cart-redirect-timer-block {border: 1px solid #D8D2C7;}
#onestepcheckout-review-cart-redirect-timer-block.onestepcheckout-overlay{background-position-x: 50%;background-position-y: 90%;}
#onestepcheckout-review-cart-redirect-timer-block .onestepcheckout-timer-title{padding: 20px 20px 0;}
#onestepcheckout-review-cart-redirect-timer-block h1{font-size: 14px;}
#onestepcheckout-review-cart-redirect-timer-block .onestepcheckout-timer-actions a{font-size: 12px;}
#onestepcheckout-review-coupon{margin-top: 5px;}
#onestepcheckout-review-coupon .input-box{width: 266px;}
#onestepcheckout-review-coupon .input-box input{width: 260px;}
#onestepcheckout-review-coupon .input-box input.with-buttons{width: 120px;}
#onestepcheckout-review-terms{}
#onestepcheckout-review-terms ol li{margin-top: 5px;}
.onestepcheckout-review-terms-description-container{display: none;}
#onestepcheckout-place-order{margin-top: 15px;height: 118px;}
.onestepcheckout-place-order-process img{width: 15px;height: 15px;}
#onestepcheckout-place-order-button {width: 100%;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled,#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:visited,#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:hover{color: #f8f8ff;cursor: default;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled span{background-color: transparent !important;background-position: 0 -40px;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled span span{    background-position: 100% 100%;}
#onestepcheckout-place-order-button.onestepcheckout-place-order-button-disabled:hover{top: 0;}
.onestepcheckout-place-order-please-wait{float: none;color: #555;text-align: center;font-size: 13px;margin-top: 5px;z-index: 5;position: relative;display:none;}
.onestepcheckout-place-order-please-wait img{width: 15px;height: 15px;position: relative;top: 3px;}
#onestepcheckout-place-order-overlay{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;background-color: white;-moz-opacity: 0.01;opacity:0.01;filter: alpha(opacity=1);}
.onestepcheckout-popup-overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;-moz-opacity: 0.3;opacity:0.3;filter: alpha(opacity=30);z-index: 100;cursor: pointer;}
.onestepcheckout-popup{position:fixed;min-height: 40%;width: 70%;background-color:white;z-index: 200;overflow: hidden;padding: 10px;}
.onestepcheckout-popup-content{overflow-y: scroll;overflow-x: hidden;padding-bottom: 0;}
.onestepcheckout-popup-accept{padding: 10px 10px 0 10px;text-align: center;}
.onestepcheckout-popup-accept button{background: #eee;height: 30px;width: 150px;border: 1px solid #aaa;color: #555;font-size: 16px;cursor: pointer;}
.onestepcheckout-popup-accept button:hover{background: #ddd;border: 1px solid #999;}
.onestepcheckout-popup-accept a{float: right;margin-right: 16px;font-size: 20px;margin-top: 5px;}


.account-create .form-list li.control.tipopessoa:first-child {  padding-bottom: 10px; margin-bottom: 26px; border-bottom: 1px solid #ddd; }
.account-create .form-list .customer-dob .dob-day, .account-create .form-list .customer-dob .dob-month { width: 20%; }
.account-create .form-list .customer-dob .dob-day:first-child, .account-create .form-list .customer-dob .dob-month:first-child, .account-create .form-list .customer-dob .dob-year:first-child {
  padding-left: 0;
}

.account-create .form-list textarea, .account-create .form-list select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
}

.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month,
.form-list .customer-dob .dob-year {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
.form-list .customer-dob .dob-day:first-child,
.form-list .customer-dob .dob-month:first-child,
.form-list .customer-dob .dob-year:first-child {
  padding-left: 0;
}
.form-list .customer-dob .dob-day + .dob-month + .dob-year,
.form-list .customer-dob .dob-month + .dob-day + .dob-year,
.form-list .customer-dob .dob-year + .dob-day + .dob-month,
.form-list .customer-dob .dob-year + .dob-month + .dob-day {
  padding-right: 0;
}
.form-list .customer-dob .dob-day,
.form-list .customer-dob .dob-month {
  width: 20%;
}
.form-list .customer-dob .dob-year {
  width: 40%;
}

#onestepcheckout-general-form .form-list li { margin: 0; } 

#onestepcheckout-general-form .form-list li input{ display: inline-block; } 
#onestepcheckout-general-form .form-list li label{ display: inline-block; } 

#onestepcheckout-order-review-cart-wrapper { margin-bottom: 20px; }
#onestepcheckout-review-comments-simple textarea{ border-radius: 5px; border-color: #D5D5D5;  border-style: solid;   border-width: 1px; box-shadow: 0 0 0;padding: 10px; width: 90%}
#onestepcheckout-review-coupon, #onestepcheckout-review-comments{padding-top: 10px; padding-bottom: 10px;}
#onestepcheckout-review-comments textarea#comments { height: 80px; }
#onestepcheckout-review-coupon label,
#onestepcheckout-review-comments-simple label,
#onestepcheckout-review-newsletter-simple label{ font-weight: 600; font-size: 14px; padding-bottom: 4px;}
#onestepcheckout-order-review-coupon-wrapper, #onestepcheckout-order-review-comments-wrapper{ padding: 0 15px;}
#onestepcheckout-review-newsletter-simple label{display:inline-block;}

@media (max-width: 992px) {
  #onestepcheckout-general-form .col-1{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;}
  #onestepcheckout-general-form .col-2{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;}
  #onestepcheckout-general-form .col-3{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;}
  
  #onestepcheckout-general-form .col-1 .fields .field{float:right;}
  #onestepcheckout-general-form .col-1 .fields .field:first-child{float:left !important;}
  #onestepcheckout-general-form .opc-data-table{width:100%;}
  #onestepcheckout-general-form .form-list .field+.field { margin-top: 0 !important; }
  #onestepcheckout-general-form .form-list .field { float: left !important; }
}

#onestepcheckout-general-form .step-title {font-size: 16px;color: #fff;background: #a76d87;padding: 10px;}
#onestepcheckout-general-form .step-title h2{ color:#ffffff; line-height: 1.72857143; }
#onestepcheckout-general-form .step-title span {
  border-radius: 50px;
  background-color: #fff;
  float: left;
  display: block;
  text-align: center;
  color: #a76d87;
  width: 25px;
  height: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  margin-right: 12px;
  margin-top: 1px;
  margin-left: 2px;
  padding: 0;
}

div#onestepcheckout-place-order button span span.onestepcheckout-place-order-title {font-size: 20px;font-weight: bold;/* padding: 10px; */}

#onestepcheckout-general-form  .form-list label { margin-bottom: 4px; }

#onestepcheckout-general-form  .header-form  { border-bottom: 1px solid #D9D9D9;
  color: #58595B;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  }

#onestepcheckout-general-form  .header-form  i.icon  {   background-position: -19px -3648px;
  float: none;
  height: 25px;
  margin-right: 5px;
  opacity: 1;
  width: 21px;
  color: #FFAB12;
  font-size: 20px;
  line-height: 1.42857143;
  vertical-align: inherit;
}

#onestepcheckout-general-form  .header-form  i.icon:before  {
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.account-create .form-list .input-box { width: 100%; }