/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-09-27 14:21:50 */

@media (max-width: 480px) {
    .category-products .products-grid li.item {
        float: none !important;
        width: 100% !important;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #e4e4e4;
    height: 37px;
    background: #fff url(../../images/select-bg.svg) no-repeat 100% 48%;
    background-size: 30px 60px;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
}
#newsletter_popup {
    display: none;
}
.icon-right-open:before {
    content: '\e81a';
}
.icon-left-open:before {
    content: '\e819';
}
.owl-top-narrow .sidebar-list .owl-controls .owl-buttons div {
    font-size: 19px;
    width: 13px;
    position: relative;
    color: #21293c;
}
.owl-top-narrow .sidebar-list .owl-controls .owl-buttons div i:before{
    width: 10px;
}
.header-container.type20 .header .form-search {
border-radius: 20px !important;
}
.header-container.type20 .main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li >a.level1{
    color: #434d53;
}
.header-container.type20.sticky-header .main-nav ul.menu>li>a {color:#fff;}
.header-container.type20.sticky-header .main-nav ul.menu>li.act>a,
.header-container.type20.sticky-header .main-nav ul.menu>li:hover>a {
    color: #bde1f5;
}
.header-container.type20 .mini-cart {
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top: -3px;
    background-color: #0694db;
    width: 81px;
    height: 41px;
    text-align: center;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #0082c2;
}
.header-container.type20 .mybag-link .cart-qty {background-color: #f17734;}
.side-custom-menu {
    border-color:#dae2e6;
    border-radius:2px;
}
.side-custom-menu ul {
    padding: 5px 12px;
}
.side-custom-menu h2 {
    background-color: #f4f4f4;
    padding: 15px 20px 15px;
}
.side-custom-menu ul li {
    border-color: #dae2e6;
    padding: 13px 4px 13px;
}
.side-custom-menu ul li a{
    position: relative;
    color: #465157;
    font-size: 14px;
    letter-spacing: 0.005em;
    padding-left: 40px;
}
.side-custom-menu ul li a i{
    position: absolute;
    font-size: 23px;
    left: 0;
    top: -2px;
}
.side-custom-menu .action {
    padding: 20px 20px 30px;
}
.side-custom-menu .action a {
    display: block;
    background-color: #0088cc;
    padding: 16px 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
.owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: solid 2px #95a9b3;
    background: none;
    position: relative;
    margin: 5px 2px 5px 2px;
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{
    border-color:#0088cc;
    background: none;
}
.owl-theme .owl-controls .owl-page.active span:before,.owl-theme .owl-controls.clickable .owl-page:hover span:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    background-color: #0088cc;
    border-radius: 100%;
}
#banner-slider-demo-4 .owl-controls .owl-page span {
    width: 24px;
    height: 3px;
    border-radius: 0;
    background: #333;
    opacity: 0.4;
}
#banner-slider-demo-4 .owl-controls .owl-page.active span, #banner-slider-demo-4 .owl-controls.clickable .owl-page:hover span {
    background-color: #010204;
    opacity: 1;
    border-color: #010204;
}
#banner-slider-demo-4 .owl-pagination {
    position: absolute;
    bottom: 20px;
    left: 65px;
}
.homepage-bar {
    border:none;
    background: none;
}
.homepage-bar .col-md-4 {
    border-color:#fff;
}
.homepage-bar i {
    color:#465157;
}
.homepage-bar h3 {
    font-size: 14px;
    font-weight: 600;
    color: #465157;
    line-height: 19px;
}
.homepage-bar p {
    font-size: 13px;
    font-weight: 300;
    color: #839199;
    line-height: 19px;
}
div.filter-title, h2.filter-title {
    background: none;
    font-size: 18px;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 17px;
}
.owl-top-narrow .owl-controls {
    right: 8px;
    top: -52px;
}
.owl-top-narrow .sidebar-list .owl-controls {
    top: -28px;
    right: -1px;
}
div.filter-title .content, h2.filter-title .content {
    background-color: transparent;
}
.ratings {
    background: none;
}
.rating-box:before {
    color: #797876;
}
.filter-products .products div.item .details-area, .category-products .products-grid li.item .details-area {
    padding: 19px 10px;
}
.filter-products .products:not(.small-list) div.item .product-image-area,
.category-products .products-grid li.item .product-image-area {
    transition: all 0.3s;
}
.filter-products .products:not(.small-list) div.item:hover .product-image-area,
.category-products .products-grid li.item:hover .product-image-area {
    box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.2);
}
.filter-products .products div.item .details-area .product-name {
    margin: 0;
}
.filter-products .products.small-list div.item .details-area .ratings {
    margin-top:0;
}
.filter-products .products.small-list div.item .price-box p {
    vertical-align: middle;
}
.filter-products .products div.item .product-image {
    border: solid 1px #ececec;
}
.filter-products .products div.item .details-area .product-name a {
    font-size: 15px;
    color: #7a7d82;
}
.filter-products .products.small-list div.item .details-area .product-name a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.01em;
}
.filter-products .products.small-list div.item .details-area {
    padding-right: 0;
    padding-left: 14px;
}
.price-box {
    margin-top: 7px;
    margin-bottom: 13px;
}
.regular-price .price,.special-price .price {
    font-size: 18px;
    color:#465157;
}
.old-price, .special-price{
    vertical-align: top;
}
.old-price .price {
    font-size: 13px;
}
a.quickview-icon {
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    font-size: 12.5px;
    font-family: 'Oswald';
    letter-spacing: 0.025em;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    height: 46px;
    text-transform: uppercase;
}
a.quickview-icon i {
    display: none;
}
.move-action .item-area a.quickview-icon {
    top: 0;
    bottom: auto;
}
a.addtocart {
    background-color: transparent;
    color: #6f6e6b;
    border-color: #d8d8d6;
    font-size: 12.5px;
    font-family: 'Oswald';
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
a.addtocart i.icon-cart {
    font-size: 17px;
    line-height: 30px;
}
a.addtocart span {
    vertical-align: middle;
    display:inline-block;
    line-height:1;
    margin-top: -4px;
}
a.addtocart i:before {
    content: "\e87f";
}
a.addtowishlist .icon-wishlist:before{
    content: '\e889';
}
a.addtowishlist,a.comparelink {
    border-color:#d8d8d6;
    color:#302e2a;
}
a.comparelink .icon-compare:before {

}
.product-image-area .actions a.addtocart {
    border-color:#d8d8d6;
    color:#302e2a;
}
.products-list .item .details-area .actions a.quickview-icon {
    border-color:#d8d8d6;
    color:#302e2a;
}
.products-list .item .details-area .actions a.quickview-icon i {
    display: inline-block;
}
.products-list .item .details-area .actions {
    margin: 0;
}
.item .details-area .actions a.comparelink {
    left: -20px;
    line-height: 30px;
}
.item .details-area .actions a.addtowishlist{
    right: -20px;
    line-height: 30px;
}
.item:hover .details-area .actions a.addtocart, .category-products .products-list li.item .details-area .actions a.addtocart {
    color: #fff;
    background-color: #0088cc;
    border-color: #0088cc;
}
.top-container >.breadcrumbs {
    padding: 18px 0 0;
}
.breadcrumbs li.home a {
    width: 15px;
    display: inline-block;
    text-indent: 30px;
    overflow: hidden;
    position: relative;
}
.breadcrumbs li.home a:after {
    content: "\e883";
    font-family: 'porto';
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}
.catalog-category-view .col2-left-layout .col-left.sidebar:before {
    content: '';
    position: absolute;
    left: 15px;
    right: 12px;
    border: solid 1px #dae2e6;
    top: 0;
    bottom: 0;
    border-radius: 2px;
}
.block-category-nav {
    margin-bottom: 0;
}
.block-layered-nav dt, .block-layered-nav .currently .block-subtitle, .block-category-nav .block-title {
    border: none;
    background-color:transparent;
    padding: 16px 20px 4px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
}
.block-category-nav .category-list a.plus .icon-plus-squared:before {
    content: '\e873';
}
.block-category-nav .category-list a.plus .icon-minus-squared:before {
    content: '\e874';
}
.block-category-nav .category-list a.plus {
    font-size: 11px;
    right: -3px;
    color: #21293c;
}
.block-category-nav .block-title {
    padding: 30px 20px 0 20px;
}
.block-category-nav .block-title strong {
    font-weight: 600;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before {
    right: 11.6px;
}
.block-layered-nav dd, .block-category-nav .block-content{
    border: none;
    background-color: transparent;
    padding: 10px 20px 26px 20px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
}
.block-category-nav .block-content{
    padding-bottom: 24px;
}
.block.block-layered-nav {
    margin-bottom: 10px;
    margin-top: 0;
}
.block.block-layered-nav  .block-title {
    padding: 0 20px;
    margin-bottom: -15px;
    margin-top: 25px;
    text-transform: uppercase;
}
.block-layered-nav .currently ol{
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 20px;
}
.block-layered-nav .currently li {
    padding: 5px 20px 5px 20px;
}
.block-layered-nav .actions {
    border: none;
    background-color: transparent;
    border-bottom: #efefef solid 1px;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 35px;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
    right: 0;
    color: #21293c;
}
.block-layered-nav .actions a {
    color: #21293c;
}
#narrow-by-list dd .swatch-label {
    background-color: #fff;
    border: solid 1px #e9e9e9;
}
#narrow-by-list dd .swatch-link:hover .swatch-label {
    border-color: #08c;
    background-color: #08c;
    color: #fff;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before{
    content:'\e81c';
    border: 0;
    color: #21293c;
    font-size: 17px;
    margin-top: -5px;
}
.block-category-nav .block-title:before{
    margin-top: 2px;
}
.block-layered-nav dt.closed:before, .block-category-nav .block-title.closed:before{
    content:'\e81b';
}
.block-layered-nav dt:hover:before, .block-category-nav .block-title:hover:before {
    background-color: transparent !important;
    color: inherit;
}
.block-category-nav .category-list a,
.block-layered-nav dd a {
    font-size: 14px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #7a7d82;
}
.price-filter-slider .text-box input.go {
    border-radius: 0;
}
.price-filter-slider .text-box {
    margin: 0 -5px;
}
.sidebar h2.sidebar-title {
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom:20px !important;
    padding-top: 30px;
}
.sidebar .custom-block {
    background-image: none;
    border-bottom: solid 1px #efefef;
    margin-bottom: 30px;
    padding: 0 20px 15px;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5{
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p{
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.category-image {
    margin: 0 0 25px;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.toolbar .sorter {
    margin-bottom: 20px;
}
.sorter .view-mode i {
    border: none;
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: #000;
}
.toolbar .sorter .sort-by select {
    min-width: 100px;
    margin-right: 10px;
}
.icon-mode-grid:before{
    content: "\e880";
}
.icon-mode-list:before{
    content: "\e87b";
}
.sorter .view-mode strong i, .sorter .view-mode a:hover i {
    background-color: transparent;
    color: #000;
}
.sorter .sort-by {
    margin-bottom: 0;
}
.sorter .view-mode {
    float: right;
    margin: 0;
    margin-right: 0;
    line-height: 29px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
.toolbar-bottom .pager .pages {
    display: block;
}
.pager li >a, .pager li >span {
    background: transparent;
    color: #706f6c;
    border: 0;
    line-height: 29px;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
.pager .pages li {
    background: none !important;
    height: 32px;
    line-height: 30px;
    width: 32px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px #e9e9e9;
    font-weight: 600;
}
.pager .pages li a {
    color: #706f6c;
    background: none;
}
.toolbar .pages {
    display: none;
}
.toolbar-bottom {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.toolbar-bottom .toolbar {
    width: 100%;
}
.toolbar-bottom .pages {
    display: block;
}
.toolbar-bottom .sorter .limiter {
    float: left;
}
.pager .pages li .icon-right-dir:before {
    content: '\e81a';
}
.pager .pages li .icon-left-dir:before {
    content: '\e819';
}
.pager .pages li a.i-next, .pager .pages li a.i-previous {
    color: #78755c;
    font-size: 20px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
    background: none;
}
.pager li >a:hover {
    background-color: transparent;
}
.pager .pages .current {
    color: #706f6c;
}
.products-grid .ratings {
    margin: 0 0 9px;
}
.product-view .product-img-box li.etalage_thumb, .product-view .product-img-box li.etalage_small_thumbs li {
    padding: 0;
    border-color: #dae2e6;
    border-radius: 2px;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active {
    border-color: #0088cc;
    position: relative;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #0088cc;
}
.product-view .product-img-box .etalage-control a.etalage-next {
    right: 7px;
}
.glyphicon-search:before {
    content: '\e873';
    font-family: 'porto';
    font-size: 14px;
    color: #21293c;
}
.product-view .product-name h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 0 0 15px;
}
.quickview-index-view .product-view .product-name h1 {
    margin: 15px 0;
}
.prev-next-products .product-nav {
    padding-bottom: 10px;
}
.prev-next-products a {
    line-height: 23px;
}
.ratings .rating-links .separator,.ratings .rating-links .separator + a {
    display: none;
}
.product-view .product-shop .short-description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border-bottom: solid 1px #dae2e6;
}
.product-view .product-info, .product-options-bottom {
    border-bottom: none;
}
.product-view .product-shop .price-box .regular-price .price {
    font-size: 21px;
    font-weight: 700;
    color: #0087cb;
}
.product-view .product-shop .price-box .special-price .price {
    font-size: 21px;
    font-weight: 700;
    color: #0087cb;
}
.product-view .product-shop .price-box .old-price .price {
    font-size: 14px;
    line-height: 1;
}
.product-view .product-shop .availability {
    color: #7b858a;
    font-weight: 400;
}
.product-view .product-options .swatch-attr label {
    text-transform: uppercase;
    color: #21293c;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.005em;
}
.product-view .product-options .swatch-attr label .select-label {
    text-transform: capitalize;
    color: inherit;
}
.product-view .product-shop .short-description .std {
    line-height: 27px;
}
.qty-holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 104px;
    position: relative;
    text-align: center;
}
.add-to-cart .qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #21293c;
    margin: 0;
    border-color: #dae2e6;
}
.qty-changer {
    display: block;
}
.qty-changer >a {
    position: absolute;
    top: 0;
    width: 30px;
    height: 43px;
    border: solid 1px #dae2e6;
    line-height: 41px;
    font-size: 11px;
    color: #8798a2;
}
.qty-changer .qty_inc {
    right: 1px;
}
.qty-changer .qty_inc i:before {
    content: '\e873';
}
.qty-changer .qty_dec {
    left: 1px;
}
.qty-changer .qty_dec i:before {
    content: '\e874';
}
.add-to-cart button.button {
    height: 43px;
}
.add-to-cart button.button span {
    height: 43px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
    line-height: 43px;
}
.add-to-cart button.button span i {
    font-size: 18px;
}
.add-to-cart button.button span i:before {
    content: '\e87f';
}
.product-view .add-to-links {
    margin: 0;
}
.product-view .add-to-links a {
    width: 43px;
    height: 43px;
    line-height: 41px;
}
.product-view .add-to-links .link-wishlist i:before{
    content: '\e889';
}
a.addtowishlist, .link-wishlist, a.comparelink, .link-compare,
a.addtowishlist:hover, .link-wishlist:hover, a.comparelink:hover, .link-compare:hover{
    border-color:#d8d8d6;
    color: #302e2a;
}
.product-tabs>ul li {
    border: none;
    background: none;
    border-right:0;
}
.product-tabs>ul li.active {
    border-bottom: #0088cc;
    background-color: transparent;
}
.product-tabs>ul li a {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 14px;
    margin-right: 37px;
    color: #818692;
    text-transform: uppercase;
}
.product-tabs>ul li.active a {
    color: #21293c;
    position: relative;
}
.product-tabs>ul li.active a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #0088cc;
    left: 0;
    right: 0;
    bottom: 0;
}
.product-tabs .tab-content {
    border:none;
    border-top: solid 1px #dae2e6;
    box-shadow: none;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}
.product-tabs .tab-content p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #0088cc;
    border: none;
    font-size: 40px;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.block-related .block-title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.block-related .owl-theme .owl-controls {
    top: -78px;
    right: 5px;
}
.block.block-related .owl-theme .owl-controls .owl-buttons div {
    font-size: 19px;
    width: 13px;
    position: relative;
    color: #21293c;
}
.block.block-related {
    padding: 0 20px;
}
.block.block-related .product {
    margin: 30px 0;
}
.block.block-related .product-name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.001em;
    color:#7a7d82;
    margin: 5px 0 0;
}
.block.block-related .product-name a{
    color:#7a7d82;
}
.block.block-related .col-xs-6 {
    width: 40%;
}
.block.block-related .product-details {
    width: 60%;
}
.product-tabs .tab-content .std ul li {
    line-height: 36px;
}
.bottom-container {
    background-color: #f4f4f4;
    padding: 60px 0 45px;
    margin-top: -60px;
}
.bottom-container .box-up-sell >h2,
.product-view .box-up-sell >h2 {
    background: none;
    font-size: 18px;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
    color: #302e2a;
}
.bottom-container .box-up-sell >h2 span,
.product-view .box-up-sell >h2 span {
    background: none;
}
.block.block-related .product .product-image {
    padding: 0;
    border-color:#ececec;
}
.cart .discount h2:before, .cart .shipping h2:before {
    content: '\e81c';
    border: 0;
    color: #21293c;
    font-size: 17px;
    background-color: transparent;
}
.cart .discount h2:hover:before, .cart .shipping h2:hover:before {
    background-color: transparent;
    border: 0;
    color: #21293c;
}
.cart .discount h2.opened:before, .cart .shipping h2.opened:before {
    content: '\e81b';
}
.footer-middle {
    padding: 62px 0 42px;
}
.footer-ribbon {
    margin: -78px 0 25px;
}
.footer-middle p{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
}
.footer-middle .block .block-title {
    margin-bottom: 15px;
}
.footer-middle .block .block-title strong {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-middle ul.links li,
.footer-middle ul.features li {
    padding: 6px 0;
}
.footer-middle .input-box input {
    background-color: #fff;
    color: #686865;
    height: 48px;
    border: none;
    font-size: 13px;
    padding-left: 15px;
    float: left;
    max-width: 410px;
    width: 100%;
}
.footer-middle .input-box button {
    float: left;
    width:120px;
    margin-left: -120px;
}
.footer-middle .input-box button span {
    height: 48px;
    line-height: 48px;
    padding: 0 12px;
    text-transform: uppercase;
}
.footer-middle .block-bottom {
    border-top: 1px solid #3d3d38;
    text-align: left;
    padding: 27px 0;
    overflow: hidden;
}
.footer-middle .social-icons a {
    background-image: none;
    background-color: #33332f;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 15px;
    width: 37px;
    height: 37px;
    text-align: center;
    margin-left: 0;
    margin-right: 4px;
    float: left;
    line-height:35px;
}
.footer-middle .contact-info li:first-child{
    border-top-width: 0;
}
.footer-middle .contact-info li {
    padding: 9px 0;
}
.footer-middle .contact-info i {
    color: #e1ddc3 !important;
    font-size: 26px;
    line-height: 28px;
}
.footer-middle .contact-info p{
    line-height: 1;
}
.footer-middle .contact-info b {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
    display: inline-block;
}
.footer-bottom {
    padding: 18px 0;
}
.footer-bottom address {
    float: left;
}
.footer-bottom .container {
    position: relative;
}
.footer-bottom .container:before {
    content: '';
    position: absolute;
    background-color: #3d3d38;
    left: 15px;
    right: 15px;
    top: -18px;
    height:1px;
    width: calc(100% - 30px);
}
@media (max-width: 991px) {
    .footer .block .block-content {
        margin-bottom: 30px;
    }
    .footer-middle .block-content {
        min-width: auto !important;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .item .details-area .actions {
        margin: 0;
    }
    .footer-middle {
        padding: 62px 0 0;
        margin-bottom: -20px;
    }
    .footer .block .block-content {
        margin-bottom: 30px;
    }
    .footer-middle .block-content {
        float: none !important;
    }
}


.sp-methods dt{font-weight: 700;margin-bottom: -3px;margin-top:3px;}

.header .logo img{max-width: 85%;margin-top: -22px;}

.header-container.type20 .mini-cart {
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    left: 0;
    top: -3px;
    background-color: #0481af;
    width: 81px;
    height: 41px;
    text-align: center;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border: solid 1px #0495ca;
}


.header-container.type20.sticky-header .main-nav ul.menu>li:hover>a {
    color: #88244e;
}

.sticky-logo img {
    max-height: 75px;
}

.header-container.type20.sticky-header .main-nav ul.menu>li.act>a, .header-container.type20.sticky-header .main-nav ul.menu>li:hover>a {
    color: #88244e;
}

.header-container.type20 .header {
    color: #ffffff;
}

.header-container.type20.sticky-header .main-nav ul.menu>li>a {
    color: #FFFFFF;
}


div.filter-title, h2.filter-title {
    background: none;
    font-size: 18px;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 57px;
}

.header-container.type20 .top-links-inner{padding: 4px 0;border-bottom: 0px solid rgba(248,248,248,0.2);}

i.category-icon{margin-left:7px;font-size:42px;display:block;}
i.category-icon:before{margin:0;width:auto}
img.category-icon{margin-right:10px;max-height:47px;vertical-align:middle;display:block;padding-bottom:4px;margin: auto;}


.side-custom-menu ul li a{
    position: relative;
    color: #465157;
    font-size: 14px;
    letter-spacing: 0.005em;
    margin-top:-27px;
    margin-left: 4px;
    padding-top: 5px;
    padding-bottom: 3px;
    
}

.side-custom-menu .action {
    padding: 0px 20px 5px;
}

.side-custom-menu .action a {
    display: block;
    background-color: #0088cc;
    /* padding: 16px 20px; */
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}


@media screen and (max-width: 420px) {.menu img{max-width:0%;}}

.mobile-nav {-webkit-transition: all 0.5s;transition: all 0.5s;position: static;height: 0;background-color: #eb59a0;display: none;}

.note-msg,.notice-msg{border-color: #eb59a0;background-color: #fffdb8;color: #c3005f; border:3px; border-radius:22px;; border-style:dashed;font-size:24px;}


.header>.logo{margin: 0px 0px 13px 0;text-decoration:none!important;max-width:100%;display:inline-block;vertical-align:middle;max-width: 170px;position:relative;z-index:2;transition:none;}


@media (max-width: 991px)
.header-container.type20 .header .logo img{height: 95px;max-width: 100%;}